[Desktop Entry]
Name=Beryl Manager
Comment=Beryl settings
Comment[es]=Configuración de Beryl
Exec=beryl.sh
Icon=beryl-manager.svg
Terminal=false
Type=Application
Categories=X-Desktop
Encoding=UTF-8
