[Desktop Entry]
Encoding=UTF-8
Name=Default Applications Chooser
Name[es]=Selector de aplicaciones por defecto
Icon=Executable.xpm
Comment=Default Applications Chooser
Comment[es]=Selector de aplicaciones por defecto
Exec=defaults-chooser
Terminal=false
Type=Application
Categories=X-SetupEntry
GenericName=Default-Applications-Chooser
Name[es]=Predefinir Aplicaciones Favoritas
