[Desktop Entry]
Encoding=UTF-8
Name=Edit .mo Files with GUI
Name[es]=Editor de archivos .mo
Icon=/usr/share/pixmaps/moedit.png
Comment=Edit .mo Files with GUI
Comment[es]=Editor de archivos .mo
Exec=/usr/sbin/ceelab/edit-mo-files/mo2poGUI-1.0
Terminal=false
Type=Application
Categories=Utility;
GenericName=Edit .mo Files with GUI