[Desktop Entry]
Encoding=UTF-8
Name=Gcolor2 color chooser
Name[es]=Gcolor selector de color
Icon=gcolor2.png
Comment=color chooser and picker
Comment[es]=Selector de color
Exec=gcolor2
Terminal=false
Type=Application
Categories=X-GraphicUtility
GenericName=Gcolor2
Name[es]=Gcolor2 | selección de color
