[Desktop Entry]
Encoding=UTF-8
Name=Geany text editor
Icon=geany.png
Comment=Geany text editor
Comment[es]=Editor de texto
Exec=geany
Terminal=false
Type=Application
Categories=TextEditor
GenericName=Geany
Name[es]=Geany | editor de texto
