[Desktop Entry]
Encoding=UTF-8
Name=gFTP ftp client
Icon=mini-ftp.xpm
Comment=gFTP ftp client
Comment[es]=Cliente ftp
Exec=gftp
Terminal=false
Type=Application
Categories=X-Internet
GenericName=gFTP
Name[es]=gFTP | cliente ftp
