[Desktop Entry]
Encoding=UTF-8
Name=Htop View Running Processes
Icon=/usr/share/pixmaps/htop.png
Comment=Htop View Running Processes
Comment[es]=Ver los procesos en ejecución
Exec=rxvt +sb -fn 9x15 -bg black -fg white -title htop -n htop -e htop
Terminal=false
Type=Application
Categories=Monitor
GenericName=Htop View Running Processes
Name[fr]=Afficher les processus actifs Htop
Name[es]=HTOP Ver los procesos en ejecución