[Desktop Entry]
Encoding=UTF-8
Name=Desktop icon switcher
Icon=mini-icons.xpm
Comment=Change desktop and menu icons
Comment[es]=Cambiar íconos de escritorio
Exec=icon_switcher
Terminal=false
Type=Application
Categories=X-Desktop-appearance
GenericName=PIS
Name[es]=Conmutar Iconos del Escritorio
Name[es]=Cambiar íconos de escritorio
