[Desktop Entry]
Encoding=UTF-8
Name=Internet Connection Wizard
Icon=wizard16.xpm
Comment=Internet Connection Wizard
Comment[es]=Asistente de Conexión a Internet
Exec=connectwizard
Terminal=false
Type=Application
Categories=X-Setup-wizard
GenericName=Internet Connection Wizard
Name[es]=Asistente de Conexión a Internet
