[Desktop Entry]
Encoding=UTF-8
Name=IPInfo network information
Icon=mini-telnet.xpm
Comment=IPInfo network information
Comment[es]=Información de red
Exec=ipinfo
Terminal=false
Type=Application
Categories=X-System
GenericName=IPInfo
Name[es]=IPInfo | información de red
