[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Card game
Name[es]=Juego de Cartas
Type=Application
Exec=/usr/local/bin/juegos_de_cartas
Icon=/usr/share/pixmaps/cartas.png
Terminal=false
Categories=Game
