[Desktop Entry]
Encoding=UTF-8
Name=Pbackup Backup and Sync
Icon=mini-diskette.xpm
Comment=Pbackup Backup and Sync
Comment[es]=Respaldar y sincronizar
Exec=pbackup
Terminal=false
Type=Application
Categories=Archiving
GenericName=Pbackup Backup and Sync
Name[es]=Pbackup | respaldar y sincronizar
