[Desktop Entry]
Encoding=UTF-8
Name=Pnethood access windows shares
Icon=/usr/local/apps/pnethood/network-transmit.png
Comment=connect to samba shares
Comment[es]=Compartir via Samba
Exec=pnethood
Terminal=false
Type=Application
Categories=Network
GenericName=Pnethood access windows shares
Name[es]=Pnethood | compartir via Samba
Name[es]=Pnethood | compartir via Samba
Name[fr]=Partages Windows Pnethood