[Desktop Entry]
Encoding=UTF-8
Exec=cups_shell
GenericName=
Icon=wizard16.xpm
MimeType=
Path=
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
X-DCOP-ServiceType=
X-KDE-SubstituteUID=false
X-KDE-Username=
Name=CUPS Printer Wizard
Name[ru]=CUPS настройка принтера
Name[de]=CUPS Drucker Einstellungen
Name[es]=CUPS-Gestor de Impresiones
Name[hu_HU]=CUPS nyomtató varázsló
Name[ja]=CUPS プリンタウィザード
Name[zh_CN]=CUPS 打印机向导
Name[zh_TW]=CUPS 印表機精靈
Comment=CUPS Printer Wizard
Comment[es]=CUPS-Gestor de Impresiones
Categories=X-SetupWizard
Name[fr]=Assistant d'impression
