[Desktop Entry]
Encoding=UTF-8
Name=Puppy universal installer
Icon=mini-dog.xpm
Comment=Puppy universal installer
Comment[es]=Instalador Universal
Exec=/usr/sbin/puppyinstaller
Terminal=false
Type=Application
Categories=X-Setup-installation
GenericName=Puppy universal installer
Name[es]=Puppy-Instalador Universal
Name[es]=Instalador universal de Puppy
