[Desktop Entry]
Encoding=UTF-8
Name=puppyPDF convert file to PDF
Name[ru]=Конвертирование файла в PDF
Name[es]=puppyPDF-Convierte Archivo a PDF
Name[fr]=Convertir un fichier en PDF
Name[hu_HU]=PuppyPDF konvertálás PDF -be
Name[ja]=puppyPDF ファイルをPDFに変換
Name[zh_CN]=puppyPDF PDF文件转换工具
Name[zh_TW]=puppyPDF PDF轉檔工具
Icon=mini-pdf.xpm
Comment=puppyPDF convert file to PDF
Comment[es]=Convierte Archivo a PDF
Exec=puppypdf
Terminal=false
Type=Application
Categories=X-DocumentUtility
GenericName=puppyPDF convert file to PDF
Name[es]=puppyPDF | convertir archivo a PDF
Name[es]=puppyPDF-Convierte Archivo a PDF
Name[es]=puppyPDF | convertir archivo a PDF
