[Desktop Entry]
Encoding=UTF-8
Name=Retrovol sound mixer
Icon=mini-sound.xpm
Comment=Retrovol sound mixer
Comment[es]=Mezclador de sonido
Exec=retrovol
Terminal=false
Type=Application
Categories=X-Multimedia-sound
GenericName=Retrovol
Name[es]=Retrovol | mezclador de sonido
