[Desktop Entry]
Encoding=UTF-8
Name=XArchive archiver
Icon=package.xpm
Comment=XArchive archiver
Comment[es]=Compresor de archivos
Exec=xarchive
Terminal=false
Type=Application
Categories=Utility
GenericName=XArchive archiver
Name[es]=XArchive | compresor de archivos
