[Desktop Entry]
Encoding=UTF-8
Name=Xorg Video Wizard
Icon=wizard16.xpm
Comment=Xorg Video Wizard
Comment[es]=Asistente de Video Xorg
Exec=xorgwizard
Terminal=false
Type=Application
Categories=X-SetupWizard
GenericName=Xorg Video Wizard
Name[es]=Asistente de Video Xorg
